.sidebar{
  height:calc(100vh - 50px);
  position: sticky;
  top: 50px;
  border-right: 1px solid gray;
}

::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-track{
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
  background-color: gray;
}

.sidebarWrapper{
  padding: 20px;
}

.sidebarList{
  list-style: none;
  margin: 0;
  padding: 0;
}

.Logo{
  align-items:center;
  display:flex;
}
 
.Image-logo{
  width:50px;
  height:50px;
  border-radius:50%;
  object-fit:cover;
  cursor:pointer;
  margin-left:20px;
}

.second{
  padding:20px 100px 0;
  margin-bottom:10px;
}

.sylvia{
  height:50px;
  width:50px;
  border-radius:50%;
  object-fit:cover;
}

.sidebarListitems{
display: flex;
align-items: center;
margin-bottom: 20px;
}

.sidebarIcon{
  margin-right: 15px;
  cursor: pointer;
}

.sidebarButton{
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
.sidebarButton:hover{
 background-color: black;
 color: white;
}

.sidebarHr{
  margin: 20px 0;
}

.sidebarFriendList{
  padding: 0;
  margin: 0;
  list-style: none;
}


.main_container{
    /* padding: 34px; */
    color: #fff;
        
}

.input_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    border-bottom: 1px solid  rgb(114, 110, 104);;
}

.post_section{
  margin-left: 20px;
}

.post{
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin:30px 0;

}

.postWrapper{
  padding: 10px;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin-bottom: 20px;
}

.postTop{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postLeft{
  cursor: pointer;
  display: flex;
  align-items: center;
}

.postProfileImg{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername{
  font-size: 15;
  font-weight: 500;
  margin:0 10px;
}

.postDate{
  font-size: 12px;
}
.myn{
  cursor: pointer;
}

.postCenter{
  margin: 20px 0;
}

.postImg{
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
  cursor: pointer;
}

.postBottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft{
  display: flex;
  align-items: center;
}

.likeIcon{
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.postlikeCounter{
  font-size: 14px;
  cursor: pointer;
  margin: 10px;
}

.postCommentText{
  cursor: pointer;
  font-size: 15px;
  font-weight: 10;
}